.worker {
    background-color: rgb(255, 41, 141);
    margin-bottom: 20px;
    border-radius: 15px;
    border: 2px solid rgb(192, 29, 18);
    width: 45%;
}

.worker p, .worker h3, .worker h4 {
    text-align: center;
}

.worker img {
    text-align: center;
    margin-top: 10px;
    border-radius: 100px;
    border: 2px solid rgb(192, 29, 18);
    transition: border-radius 0.7s ease-in-out, border 0.7s ease-in-out;
}

.worker img:hover {
    border-radius: 20px;
    border: 2px solid rgb(158, 24, 15);
}

.worker h3 {
    font-size: 25px;
}

.worker h4 {
    font-size: 18px;
}

.workerImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.worker img {
    width: 400px;
}

.workers {
    display: flex;
    justify-content: center;
}

footer {
    background-color: rgb(255, 71, 157);
    margin-bottom: -15px;
    text-align: center;
    margin-top: -20px;
}





















